<div class = "container-fluid">
  <div class = "row">
    <div class = "col">
      <!-- Footer -->
      <footer class="footer navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"> ©2020  <b> Protocolo Digital </b> - Ricardo Nascimento -  Todos os direitos reservados 
          
        </div>
        <!-- Copyright -->

      </footer>
    </div>
  </div>
</div>
        
 
